@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    display: flex;
    animation: scroll 10s linear infinite;
  }
  

body {
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
}

html {
    height: 100%;
}

html, body {
  overflow-x: hidden; /* Prevents horizontal scrolling */
  max-width: 100%; /* Ensures the body doesn't exceed the viewport width */
}

* {
  box-sizing: border-box;
  
}

html {
    scroll-behavior: smooth;
    
}

*::after,
*::before {
    box-sizing: inherit;
}